
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,500,600,700&display=swap");


*{
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: "Josefin Sans";
    font-size: 10px;
    background-image: url("../../../img/plantilla/Logo_fondo.jpg");
    background-attachment: fixed;
    background-size: cover;
}
body{
    font-size: 1.6rem;
}
header{
    display: flex;
    justify-content: space-between;
    background-color: #20c997;
    min-height: 10vh;
    padding: 1rem;
    box-shadow: 1px 1px 10px ;
}
header img{
    /*padding: 1rem;*/
    object-fit:contain;
    height: 100px;
}
a{
    text-decoration: none;
    font-weight:bold;
    color: black;
}

.login{
    display: flex;
    align-items: center;
   
    
}
.login div:first-child {
    font-size:x-large;
}    


.login div:last-child {
    display: flex ;
    flex-direction: column;
    padding-left: 1.6rem;
}

footer{
    font-family: sans-serif;
    font-size: 0.8rem;
    font-weight: normal;
    margin: 0 2rem;
    padding: 2rem;
    border-top: 1px solid rgba(128, 128, 128, 0.5);
}

.item-producto {
    transition: all 0.5s ease-in-out 0s;
}

.item-producto:hover {
    transform: scale(1.1);
    opacity: 0.6;
}

.item-producto:nth-child(odd) {
    background-color: rgba(255, 194, 204, .6);
}

.item-producto:nth-child(even) {
    background-color: rgba(243, 243, 102, .6);
}

.categoria h1 {
    text-shadow: 2px 2px 5px lightgray;
    font-size: 2.5rem;
    background-color: rgba(33, 204, 153, .6);
}

nav {
    display: flex;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    font-size: 2.5rem;
    
}

nav li {
    margin: 0 1rem;
}
.redes-sociales a img {
    width: 2%; 
    margin: 15px 15px 0 0;
}